<div class="container">
  This is admin's Dashboard
</div>
<div class="row">
  <div class=" col-md-2">
    <h3>Top projects</h3>
    <ol>
      <li>Github clone</li>
      <li>UberXYZ</li>
      <li>Google Glass</li>
      <li>Another project</li>
      <li>Again project</li>
    </ol>
  </div>
  <div class="  col-md-8 ">
    <div class="table-responsive" id="sailorTableArea">
      <table id="sailorTable" class="table table-striped table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |person| %>
            <tr>
              <td><%=person.name%></td>
              <td><%=person.email%></td>
              <td><%=person.type%></td>
              <td><%=person.status%>
              </td>
              <td>
                <span> <%=link_to('Edit',edit_admin_user_path(person), class:"btn btn-info btn-xs glyphicon glyphicon-edit")%></span>
                <span> <%= link_to('Delete',admin_user_delete_path(person), method: :delete, data:{confirm: "are you sure?"} ,class:"btn btn-warning btn-xs glyphicon glyphicon-edit")%></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
