<div class=" ">
  <div class="row">
    <div class="col-xs-12 ">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Employees</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Payments</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Timelogs</a>
          <a class="nav-item nav-link" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="false">Files</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name</th>
                  <td><%= @project.name%></td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td><%= @project.description %></td>
                </tr>
                <tr>
                  <th>Company</th>
                  <td><%= get_company_name(@project.client_id) %></td>
                </tr>
                <tr>
                  <th>Client</th>
                  <td><%= get_client_name(@project.client_id) %></td>
                </tr>
                <tr>
                  <th>#Employees</th>
                  <td><%= @project.employees.count %></td>
                </tr>
                <tr>
                  <th>Cost</th>
                  <td><%=%>999</td>
                </tr>
                <tr>
                  <th>Date</th>
                  <td><%= @project.created_at %></td>
                </tr>
                <tr>
                  <th>Created by:</th>
                  <td><%= get_user_name(@project.creator_id) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Designation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th><%= get_user_name(@project.manager_id) %></th>
                  <td>Manager</td>
                </tr>
                <% get_employees(@project.id).each do |person| %>
                  <tr>
                    <th><%= person %></th>
                    <td>Employee</td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Created By:</th>
                  <th>Created At:</th>
                </tr>
              </thead>
              <tbody>
                <% @total_amount = 0%>
                <% (@project.payments).each do |payment| %>
                  <% @total_amount = @total_amount + payment.amount%>
                  <tr>
                    <td><%= payment.amount %></td>
                    <td><%= get_user_name(payment.creator_id) %></td>
                    <td><%= payment.created_at %></td>
                  <%end%>
                  <tr>Total:<%=@total_amount%> </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th>Hour(s)</th>
                    <th>Employee</th>
                    <th>Created By:</th>
                    <th>Logged At:</th>
                  </tr>
                </thead>
                <tbody>
                  <% @total_hours = 0%>
                  <% @project.time_logs.each do |time_log| %>
                    <% @total_hours = @total_hours + time_log.hours%>
                    <tr>
                      <td><%= time_log.hours %></td>
                      <td><%= get_user_name(time_log.employee_id) %></td>
                      <td><%= get_user_name(time_log.creator_id) %></td>
                      <td><%= time_log.created_at %></td>
                    </tr>
                  <% end %>
                  <tr>Total:<%=@total_hours%> </tr>
                </tbody>
              </table>
            </div>
          </div>

             <div class="tab-pane fade" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
            <div class="well">
              <table class="table">
                <thead>
                  <tr>
                    <th>File</th> 
                  </tr>
                </thead>
                <tbody>
                  <% @project.files.each do |file| %>
                    <tr>
                      <td><%= link_to(file) %></td>
                    </tr>
                  <% end %>
      
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
